:root{
    --blanco: #FFFFFF;
    --rojo: #A83338;
    --rojoOscuro: #632032;
    --gris: #F1F1F1;
    --negro: #1F1F1F;

}

/*General*/
body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--gris);
  }
  
  h1, h2, h3 {
    font-family: 'Cal Sans', sans-serif;
  }

/*NAVBAR*/
.figura-navbar{
    margin-right: 0.5rem;
}

.navbar{
    background-color: var(--rojo);
} 

.navbar div a, .navbar ul{
        color: var(--blanco) !important;
        /*font-size: 2rem;*/
}

section {
  scroll-margin-top: 70px; 
  background-color: var(--blanco);
}

/* Seccion bienvendida (main) */
.bienvenida{
    background-image: url("../img/fondo-bienvenida.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 100vh;
    background-position: center;
}

.bienvenida_contenido{
    position: absolute;
    background-color: rgba(0, 0, 0, .7);
    width: 100%;
    height: 100%;
    color: var(--blanco);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/*container*/
.container section{
    border: 1px solid var(--rojoOscuro);
    border-radius: 1rem;
    margin: 1rem;
    padding: 2rem;
}

.container section h2{
    text-align: center;
}

.text-justify{
    text-align: justify;
}

/*productos*/
.flip-card {
    perspective: 1000px;
    width: 100%; /*Usa todo el ancho de la columna */
    height: 200px; /* Puedes ajustar esto o usar min-height */
    position: relative;
  }
  
  .flip-card-inner {
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    position: relative;
  }
  
  input[type="checkbox"]:checked ~ .flip-card-inner {
    transform: rotateY(180deg);
  }

  input[type="checkbox"]:checked ~ .flip-card-inner .flip-card-back {
    background-color: var(--rojo);
    color: var(--blanco);
  }
  

  /* Ocultar el checkbox visualmente pero sigue funcionando */
.flip-card input[type="checkbox"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }
  
  .flip-card-front,
  .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-color: var(--gris);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 1rem;
    transition: background-color 0.6s ease;
  }
  
  .flip-card-back {
    transform: rotateY(180deg);
  }
  
  .icono{
    font-size: 4rem;
    margin-bottom: 1rem;
    color: var(--rojoOscuro);
  }
  
  .flip-card-front p{
    font-weight: bold;
    text-align: center;
  }

  .carta-contenedor{
    margin-bottom: 1rem;
  }


  /*carrusel sucursales*/
  .contenedor-carrusel{
    margin: auto;
    width: 90%;
    display: flex;
    justify-content: center;
  }

  .overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7) 25%, rgba(0, 0, 0, 0)) 100%;
    z-index: 1;
  }
    .carousel-caption {
      z-index: 2; 
  }

  .carousel-caption a{
    text-decoration: none;
    color: var(--blanco);
  }

  #sucursales{
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 3rem;
  }

  /*footer*/
  footer{
    color: var(--blanco);
    padding: 1rem;
    text-align: center;
  }

  footer i{
    margin: 0 3px;
    text-decoration: none;
    color: var(--blanco);
  }


  .carousel-item img{
    object-fit: cover !important;
    width: 100%;
  }

  .contenedor-carrusel{
    width: 100% !important;
  }




/* Teléfonos normales (481px a 767px) */
@media (max-width: 767px){
  .carousel-item img{
    height: 20rem !important;
    object-fit: cover;
    object-position: top left;
  }

  .overlay{
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7) 50%, rgba(0, 0, 0, 0)) 100%;
  }
}

/* Tablets (768px a 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
  .carousel-item img{
    height: 25rem !important;
  }
}

/* Laptops (1025px a 1366px) */
@media (min-width: 1025px) and (max-width: 1366px) {
  .carousel-item img{
    height: 20rem !important;
  }

  #sucursales{
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
@media (min-width: 1367px) {
  .contenedor-carrusel{
    width: 80% !important;
  }
  .carousel-item img{
    height: 25rem !important;
  }

  #sucursales{
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

/* Computadoras de escritorio estándar (1367px a 1920px) */
@media (min-width: 1423px) {
  .contenedor-carrusel{
    width: 90% !important;
  }
  .carousel-item img{
    height: 30rem !important;
  }

  #sucursales{
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
